---
import '$client/styles/global.scss';
---

<html lang='en' class='dark:bg-neutral-900 dark:text-gray-200'>
  <head>
    <meta name='robots' content='noindex,nofollow' />
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Unavailable</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
