---
import { gql } from 'graphql-request';
import { Main } from '$client/components';
import '$client/styles/global.scss';
import { DatoCMS } from '$server/cms';
import { either } from 'fp-ts';
import { Analytics } from '$client/features/analytics';
import { CookieConsent } from '$client/features';
import { Config } from '$server/shared';

const query = gql`
  query Settings {
    settings: siteSetting {
      copyrightText
    }
  }
`;

const dataResult = await DatoCMS.request(query)();

const data = either.getOrElse(() => ({
  settings: {
    copyrightText: 'All rights reserved.',
  },
}))(dataResult);

export interface Props {
  title: string;
}

const { title } = Astro.props;
const year = new Date().getFullYear();
const { settings } = data;

const { config, isFeatureEnabled } = await Config.create();

const showCookieConsent = isFeatureEnabled('show_cookie_consent');
const useAnalytics = isFeatureEnabled('use_analytics');
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    {showCookieConsent && <CookieConsent />}
    {useAnalytics && <Analytics client:load />}
  </head>
  <body>
    <div class='flex flex-col h-screen'>
      <div class='grow'>
        <Main>
          <pre>{JSON.stringify(config, null, 2)}</pre>
          <slot />
        </Main>
      </div>
      <footer>
        <div class='py-5'>
          <div class='flex justify-center items-center'>
            <p class='text-sm text-muted dark:text-muted'>
              &copy; {year}
              {settings.copyrightText}
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
